################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp_Repo/FileContentIndex/cbb2dba6-5322-4abb-b8e6-94c162483721.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/cdde57ed-08bc-4b61-b4b1-ffa4d7245e97.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/ded128b1-8e88-48c3-a696-19c779ca5325.vsidx
