################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp_Repo/FileContentIndex/cbb2dba6-5322-4abb-b8e6-94c162483721.vsidx
