################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp_Repo/FileContentIndex/cbb2dba6-5322-4abb-b8e6-94c162483721.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/cdde57ed-08bc-4b61-b4b1-ffa4d7245e97.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/ded128b1-8e88-48c3-a696-19c779ca5325.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/12f5e537-6218-4314-a9ff-9e00d1dcef98.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/22c4fd70-cc90-4a25-b4e2-518ec62a0828.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/233a01cb-cfcd-43e5-9c93-537279696b7f.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/741eb461-4f6a-436a-9288-4d3dbb5f5e27.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/ec6f1cec-5ff9-4fbf-a404-b5aec4db8740.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/13e0a04c-c8d0-40e8-98ec-cb09fa0cb8ea.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/79addc51-a618-43f6-ba5f-e5c03075849a.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/da523511-bdce-47ff-b7a0-065df5c87eb1.vsidx
/miPrimerApp/.vs/miPrimerApp/FileContentIndex/e3f96bf0-4c4e-4043-882b-c814c402b959.vsidx
